.ScrollToTop {
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    border: 0.5px solid #707070;
    border-radius: 90%;
    padding: 4px 7px 4px 7px;
    background-color: white;
}

.Hero {
    text-align: start;
    font-size: 20px;
    margin-top: 20px;
    height: 100vh;
    display: flexbox;
}   

.Hero-image {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.33),
     rgba(0, 0, 0, 0.2)), 
    url("/public/images/HeroBg.png");
     
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    max-width: 850px;
    margin-left: 5%;
    color: white;
    font-family: "butler", sans-serif;
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.FindProv {
    max-height: 74vh;
  margin-bottom: 20%;
}

.FindProv-text {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #E8745D;
    text-align: center;
}

.FindProv-text h1 {
    font-weight: normal;
    text-transform: uppercase;
}

.FindProv-text p {
    font-weight: lighter;
    margin-top: 0;
    color: #0C3651;
}


.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 2%;
    user-select: none;
    height: 65vh;
}
  
.swiper-slide {
    flex-shrink: 100 !important;
    max-width: 60vw;
}


.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.SlideLeft,
.SlideRight {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.SlideLeft {
    position: absolute;
    left: 0;
    transform: translateY(-35vh) translateX(13vw);
}

.SlideRight {
    position: absolute;
    right: 0;
    transform: translateY(-35vh) translateX(-13vw);
}

.SlideLeft i,
.SlideRight i {
    font-size: 2rem;
    color: #707070;
}


.ButtonsSlider {
    border: 1px solid #707070;
    border-radius: 90%;
    padding: 17px 20px 17px 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;

}

  
.HomeSwiper-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 63vh;
    border-radius: 13px;
    border: 3px solid #EEC0C0;
    background-color: white;
    width: 60vw;
}

.HomeSwiper-slide-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    width: 90%;
    padding: 0 20px;
    margin-left: 50px;
    margin-right: 70px;
}

.HomeSwiper-slide-text h1 {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 0;
    font-family: "butler", sans-serif;
    margin-bottom: 5%;
    color: #0C3651;
}

.HomeSwiper-slide-text p {
    font-size: 100%;
    font-weight: light;
    color: #707070;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "montserrat", sans-serif;
}

.HomeSwiper-slide-image {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
}

.HomeSwiper-slide-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 0px 10px 10px 0px;
}


.SliderButton {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
}


.underSliderButton {
    background-color: #EEC0C0;
    border: 0px;
    color: white;
    padding: 10px 35px 10px 35px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "montserrat", sans-serif;
    cursor: pointer;
}


.HomeBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.HomeBanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
}

.ManageEvents {
    margin-top: 20px;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ManageEvents h1 {
    color: #E8745D;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5%;
    margin-top: 4%;
    padding: 10px;
}

.ManageItems {
    padding-inline: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grid h4 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2%;
    color: #0C3651;
    text-align: center;
    margin-top: 10%;
    text-transform: uppercase;
    font-family: "butler", sans-serif;
}

.grid p {
    font-size: 1rem;
    font-weight: lighter;
    color: #707070;
    text-align: center;
    font-family: "montserrat", sans-serif;
    align-items: center;
    padding: 15px;
}

.planningButton {
    justify-self: center;
    align-self: center;
    /* margin-top: 5%; */
    background-color: #EEC0C0;
    border: 0px;
    color: white;
    padding: 10px 35px 10px 35px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "montserrat", sans-serif;
    cursor: pointer;
}

.moodboard {
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.moodboard h2{
    color: #E8745D;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 4%;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.moodboard p {
    font-size: 1rem;
    font-weight: lighter;
    color: #707070;
    text-align: center;
    font-family: "montserrat", sans-serif;
    align-items: center;
    padding: 5px;
    padding-top: 0;
    margin-bottom: 0;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.imagesOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagesOne img {
    width: 95%;
    height: 95%;
    margin-bottom: 5%;
}

.imagesTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagesTwo img {
    width: 95%;
    height: 95%;
    margin-bottom: 5%;
}

.imagesThree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagesThree img {
    width: 95%;
    height: 95%;
    margin-bottom: 5%;
}

.moodboardButton {
    justify-self: center;
    align-self: center;
    background-color: #EEC0C0;
    border: 0px;
    color: white;
    padding: 10px 35px 10px 35px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "montserrat", sans-serif;
    cursor: pointer;
}