.Hero {
    text-align: start;
    font-size: 20px;
    margin-top: 20px;
    height: 890px;
}   

.Hero-image {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2),
     rgba(0, 0, 0, 0.2)), 
    url("/public/images/HeroBg.png");
     
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    max-width: 1015px;
    margin-left: 10%;
    color: white;
  }