.Hero {
    text-align: start;
    font-size: 20px;
    margin-top: 20px;
    height: 100vh;
}   

.Hero-image {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2),
     rgba(0, 0, 0, 0.2)), 
    url("/public/images/HeroBg.png");
     
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    max-width: 850px;
    margin-left: 5%;
    color: white;
}

.hero-text h1 {
    font-size: 2.9rem;
    font-weight: 500;
    margin-bottom: 0;
}

.FindProv {
  height: 100vh;
}

.FindProv-text {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #E8745D;
    text-align: center;
}

.FindProv-text h1 {
    font-weight: normal;
    text-transform: uppercase;
}

.FindProv-text p {
    font-weight: lighter;
    margin-top: 0;
    color: #0C3651;
}

.InnerSwiper {
    height: 300px;
    border: 2px #EEC0C0 solid;
}