.PublicNav {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    height: 120px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
}

.PublicNav__logo {
    height: 100%;
    width: 100%;
}

.PublicNav__logo img {
    height:100%;
    max-width: 22%;
    margin-left: 40px;
}

.PublicNav__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-width: 100%;
    align-items: center;
    position: absolute;
    left: 30%;
}

.PublicNav__links a {
    color: #0C3651;
    font-size: 0.9rem;
    font-weight: normal;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Butler', sans-serif;
    text-transform: uppercase;
}

.PublicNav__links a:hover {
    color: #E8745D;
}

#vendor {
    color: #0C3651;
} 

.PublicNav__Logins {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
    
}

.PublicNav__Logins a {
    color: #E8745D;
    font-size: 0.8rem;
    font-weight: normal;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.PublicNav__Logins:nth-child(1) {
    display: flex;
    flex-direction: row;
}